.image-container {
   width: 100%;
   height: auto;
   margin: 50px; 
}

.image-container img {
    height: auto;
    border-radius: 20px;
}

.ingredients {
    min-height: 100px;
    margin-top: 50px;
    padding: 15%;

}

.method {
    padding-left: 15%;
    margin-bottom: 200px;
}