/* Diego Section */
html {
  font-size: 1.3vmax;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  margin-bottom: 6rem;
}

/* Stefan Sections */
.logo {
  width: 3rem;
  height: auto;
}
.navbar {
  align-items: center;
  position: fixed;
  width: 100%;
}

.navbar {
  background-color: seagreen;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.navbar.scrolled {
  background: rgba(46, 139, 86, 0.5);
  transition: background 500ms;
}

main {
  padding-top: 9rem;
  width: 80%;
  margin: auto;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.recipe-container {
  /*max-width: 30%;*/
  padding-bottom: 5%;
}

.img-container {
  width: 90%;
  height: 20vw;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row img {
  width: 100%;
  height: auto;
}

.grid {
  text-align: center;
}

.row {
  justify-content: space-between;
}
