/* Diego Section */
/* html {
  font-size: 1.3vmax;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  margin-bottom: 6rem;
}

/* Stefan Sections */
#mainNavbar {
  position: fixed;
  width: 100%;
  background-color: seagreen;
  margin-bottom: 2rem;
  text-transform: uppercase;
  z-index: 1;
}
#mainNavbar.scrolled {
  background: rgba(46, 139, 86, 0.5);
  transition: background 500ms;
}
.navbar-brand {
  width: fit-content;
}
.logo {
  /* width: 20%; */
  height: auto;
  max-width: 40px;
}

.navbar {
  width: 80%;
  margin: auto;
  padding: 0;
  align-items: center;
}
#navbarSupportedContent {
  justify-content: right;
}
.dropdown-menu {
  background-color: rgba(46, 139, 86, 0.75);
}
.dropdown-item {
  color: white;
}
.dropdown-item:hover {
  background-color: rgba(208, 221, 214, 0.5);
}

main {
  padding-top: 9rem;
  width: 80%;
  margin: auto;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.recipe-container {
  /*max-width: 30%;*/
  padding-bottom: 5%;
}

.img-container {
  width: 90%;
  height: 20vw;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row img {
  width: 100%;
  height: auto;
}

.grid {
  text-align: center;
}

.row {
  justify-content: space-between;
}
